{% extends "books/base.html" %}

{% block content %}

<h2>{{ object.title }}</h2>

<ul class="list-group mb-3">

    <li class="list-group-item">
        <strong>Author:</strong> {{ object.author }}
    </li>

    <li class="list-group-item">
        <strong>Price:</strong> {{ object.price }}
    </li>

    <li class="list-group-item">
        <strong>Stock:</strong> {{ object.stock }}
    </li>

</ul>

<a href="{% url 'books:book_list' %}" class="btn btn-secondary">
    Back
</a>

{% endblock %}